<h2>New Article Here!</h2>

<form method="POST" action="/articles" >
    <label for="articleTitle">Title</label>
    <input type="text" name="articleTitle" />
    <label for="articleBody">Body</label>
    <input type="text" name="articleBody">
    
    <input type="submit" value="MAKE MY ARTICLE">
</form>